# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
db.sqlite3
*.log
.env
*.pot

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.dbdb.sqlite3 
db.sqlite3-journal 
*.sqlite3 
media/uploads/ 
media/proposals/ 
